
.messageContainer{
    display: flex;
    align-items: flex-start;
    padding: 0 10px 0 10px;
}

.messageContainer img{
    width: 1.4vw;
}

.receive{
    gap: 10px;
}


.messageContainer p{
    color: #000;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 0.7vw;
    font-family: 500;
}

.send{
    justify-content: flex-end;
}