.sidebar {
  width: 6vw;
  color: white;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafbfc;
  /* gap: 2rem; */
  position: sticky;
  height: 100vh;
  border: 2px solid #d1d6da;
}

.logo {
  width: 60%;
  margin-bottom: 2.5rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navItem img {
  width: 25%;
}

.navItem {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 1.5rem; */
}

.label {
  font-size: 45%;
  color: #424242;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.online{
    margin-top: auto;
}