.border{
    border-left: 2px solid #184e7f;
}

.container{
    width: 100%;
    display: flex ;
    gap: 1rem;
    padding: 10px;
    align-items: center;
    /* justify-content: center; */
    cursor: pointer;
    transition: background-color 0.3s;
}

.container img{
    width:2vw;
    height: 2vw;
}

.content h5{
    color: #5E9BD5;
    font-size: 1.1vw;
    font-weight: 500;
    font-family: 'Inter',sans-serif;
}

.content p{
    font-size: 1vw;
    font-weight: 500;
    font-family: 'Inter',sans-serif;
    color: #9A9B9D;
}

  .active {
    background-color: #efefef;
    border-radius: 30px;
  }


  @media screen and (max-width:1440px) {
    .container img{
        width: 3.3vw;
        height: 3.3vw;
    }

    .content h5{
        font-size: 1.7vw;
    }

    .content p{
        font-size: 1.3vw;
    }
  }

  @media screen and (max-width:1024px) {
    .container img{
        width: 2.4vw;
        height: 2.4vw;
    }

    .content h5{
        font-size: 2vw;
    }

    .content p{
        font-size: 1.4vw;
    }
  }