.container{
    width:14vw;
    background-color: #fff;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}

.header{
    font-size: 0.8vw;
}

.form{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    
}

.formGroup label{
    font-size: 0.7vw;
    color: #505050;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}

.form input{
    border: none;
    outline: none;
    /* padding: 5px; */
    border-bottom: 1px solid #c3c3c3;
    font-size: 0.7vw;
    font-weight: 600;
    color: #000;
    font-family: 'Poppins',sans-serif;
}

.form button{
    align-self: center;
    width: 8vw;
    height: 1.7vw;
    border-radius: 10px;
    border: none;
    background-color: #184e7f;
    color: #fff;
    font-size: 0.8vw;
}

@media screen and (max-width:1440px) {
    .container{
        width:24vw;
    }
    
    .header{
        font-size: 1.2vw;
    }
    
    .formGroup label{
        font-size: 1.4vw;
    }
    
    .form input{
        font-size: 1.4vw;
    }
    
    .form button{
        width: 10vw;
        height: 2.5vw;
        font-size: 1.2vw;
    }
}

@media screen and (max-width:1024px) {
    .container{
        width:26vw;
    }
    
    .header{
        font-size: 1.5vw;
    }
    
    .formGroup label{
        font-size: 1.7vw;
    }
    
    .form input{
        font-size: 1.7vw;
    }
    
    .form button{
        width: 13vw;
        height: 3.5vw;
        font-size: 1.7vw;
    }
}

@media screen and (max-width:860px) {
    .container{
        width:30vw;
        padding: 1.6vw;
    }
    
    .header{
        font-size: 1.9vw;
    }
    
    .formGroup label{
        font-size: 2vw;
    }
    
    .form input{
        font-size: 2vw;
    }
    
    .form button{
        width: 17vw;
        height: 4.2vw;
        font-size: 1.9vw;
    }
}

@media screen and (max-width:699px) {
    .container{
        width:50vw;
        padding: 1.6vw;
    }
    
    .header{
        font-size: 2.4vw;
    }
    
    .formGroup label{
        font-size: 2.8vw;
    }
    
    .form input{
        font-size: 2.8vw;
    }
    
    .form button{
        width: 22vw;
        height: 6vw;
        font-size: 2.2vw;
    }
}

@media screen and (max-width:550px) {
    .container{
        width:65vw;
        padding: 1.6vw;
    }
    
    .header{
        font-size: 3vw;
    }
    
    .formGroup label{
        font-size: 3.4vw;
    }
    
    .form input{
        font-size: 3.4vw;
    }
    
    .form button{
        width: 30vw;
        height: 9vw;
        font-size: 2.9vw;
    }
}

@media screen and (max-width:375px) {
    
    .container{
        padding: 2.2vw;
    }
    
    .header{
        font-size: 4vw;
    }
    
    .formGroup label{
        font-size: 4.4vw;
    }
    
    .form input{
        font-size: 4.4vw;
    }
    
    .form button{
        width: 35vw;
        height: 12vw;
        font-size: 3.3vw;
    }
}