.container{
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow-y: auto;
}

.header{
    color: #6a6b70;
    font-weight: 500;
    font-size: 1.2vw;
    font-family: 'Inter',sans-serif;
}

.content{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fafbfc;
    border-radius: 15px;
}

.contentHeader{
    border-bottom: 2px solid #184E7F;
    width:fit-content
}

.contentHeader h3{
    font-size: 0.8vw;
}

.form{
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formGroup{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.formGroup label{
    font-size: 1vw;
    font-family: 'Poppins',sans-serif;
}

.formGroup input{
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #3e3e3e;
    width: 40%;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2vw;

}

.inputContainer{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn{
    display: flex;
    justify-content: flex-end;
}

.btn button{
    padding: 7px 3rem 7px 3rem;
    border-radius: 12px;
    font-size: 1vw;
    background-color: #184e7f;
    color: #fafbfc;
    font-family: 'Poppins',sans-serif;
}

.infoWrapper {
    position: relative;
    display: inline-block;
  }
  
  .icon {
    /* width: 1.2rem; */
    cursor: pointer;
  }
  
  .tooltip {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    /* max-width: 200px; */
    background-color: #f3f3f3;
    color: #7c7c7c;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%; 
    left: 0;
    z-index: 10;
    transition: opacity 0.3s ease;
    font-size: 0.8vw;
    font-weight: 500;
    font-family: 'Inter',sans-serif;
  }
  
  .infoWrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  

  @media screen and (max-width:1024px) {
    .contentHeader h3{
        font-size: 1.5vw;
    }

    .formGroup label{
        font-size: 1.8vw;
    }
    
    .formGroup input{
        width: 60%;
        font-size: 1.8vw;
    }

    .tooltip{
        font-size: 1.2vw;
    }

    .btn button{
        font-size: 1.5vw;
    }
  }