.card{
    width: 100%;
    border: 1px solid #e7e7e7;
    padding: 1rem;
}

.card span{
    font-family: 'Montserrat',sans-serif;
}

.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}



.left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
}

.ticketId{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ticketId span{
    font-size: 0.8vw;
    font-weight: 600;
}

.circle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(248, 165, 52, 0.6);
}

.message{
    font-family: 'Poppins',sans-serif;
    font-size: 1vw;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: right;
}

.right span:first-child{
    font-size: 0.5vw;
    color: #84818A;
}

.right span:last-child{
    font-size: 0.9vw;
    color: #000;
    font-weight: 600;
}

hr{
    height: 1px;
    border: none;
    background-color: #e7e7e7;
    margin-bottom: 1rem;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info{
    display: flex;
    flex-direction: column;
}

.info span{
    font-size: 0.7vw;
    font-weight: 500;
    color: #84818a;
}

.openLink{
    text-decoration: underline;
    color: #184e7f;
    font-size: 0.8vw;
    font-weight: 600;
    cursor: pointer;
}


@media screen and (max-width:1440px) {

    .circle{
        width: 1.6vw;
        height: 1.6vw;
    }

    .ticketId span{
        font-size: 1.4vw ;
    }

    .left p{
        font-size: 1.4vw;
    }

    .right span:first-child{
        font-size: 1.1vw;
    }
    
    .right span:last-child{
        font-size: 1.3vw;
    }

    .details img{
        width: 2.4vw;
    }

    .info span{
        font-size: 1.2vw;
    }

    .openLink{
        font-size: 1.4vw;
        cursor: pointer;
    }
}