.container{
    position: absolute;
    width: 100%;
    height: 17vh;
    border: 2px solid #D1D6DA;
    z-index: 10;
    background-color: #FAFBFC;
    top:3rem;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.container h4{
    color: #000;
    font-size: 1vw;
    font-family: 'Inter',sans-serif;
}

.buttons{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
}

.buttons button{
    padding: 5px 1.5rem 5px 1.5rem;
    border-radius: 20px;
    border: none;
    font-size: 0.8vw;
    font-weight: 400;
}

.buttons button:first-child{
    background-color: #fff;
    color: #afafaf;
    font-family: "Poppins",sans-serif;
    
}

.buttons button:last-child{
    background-color: #184e7f;
    color: #fafbfc;
    font-family: "Poppins",sans-serif;
}