.body{
    height: 75vh;
    padding-left: 7%;
    display: flex;
    flex-direction: row;
}

.leftContent{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
    text-align: left;
}

.leftContent h2{
    font-size:3vw;
    color: #30404d;
}

.leftContent p{
    font-size: 1.1vw;
    line-height: 1.5rem;
    color: #30404d;
}

.buttons{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 3rem;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #244779;
    color: #fff;
    border-radius: 5px;
}

.playVid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #30404d;
    font-weight: 500;
}

.rightContent{
    width:50%;
    height: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 3%;
}

.rightContent img{
    width: 40vw;
    object-fit: contain;
}

footer{
    width: 100%;
    height:15vh;
    background-color: #EBF1F9;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

footer img{
    width: 6vw;
}

@media screen and (max-width:1440px) {
    
    .leftContent h2{
        font-size:4vw;
    }
    
    .leftContent p{
        font-size: 1.6vw;
        line-height: 1.8rem;
    }
    
    /* .buttons{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    } */
    
    .button{
        padding: 8px;
        border-radius: 10px;
    }

    .button span{
        font-size: 1.5vw;
    }

    .button img{
        width: 2vw;
    }
    
    .playVid span{
        font-size: 1.5vw;
    }

    
    .rightContent img{
        width: 43vw;
        object-fit: contain;
    }
    
    footer img{
        width: 10vw;
    }
}

@media screen and (max-width:1023px) {
    

    .leftContent h2{
        font-size: 4.5vw;
    }
    
    .leftContent p{
        font-size: 2.2vw;
        line-height: 1.8rem;
    }

    .button{
        padding: 9px;
    }
    
    .button span{
        font-size: 2.4vw;
    }

    .button img{
        width: 2.8vw;
    }
    
    .playVid span{
        font-size: 2.4vw;
    }
        
    footer img{
        width: 13vw;
    }
}

@media screen and (max-width:850px) {
    
    .leftContent p{
        font-size: 2.2vw;
        line-height: 1.8rem;
    }

        
    footer img{
        width: 13vw;
    }
}